footer {
	background: #1c1c1c;

	.footer-upper {
		display: flex;
		flex-flow: row wrap;
		padding: 100px 0 100px;

		&__item {
			flex: 0 0 calc(33.333% - 60px);
			padding: 30px;

			@media(max-width: 991px) {
				flex: 0 0 calc(50% - 10px);
				padding: 5px;
				&:last-of-type {
					flex: 0 0 100%;
					text-align: left;
				}

				ul {
					padding-left: 0 !important;
				}
			}

			@media(max-width: 767px) {
				flex: 0 0 calc(100% - 10px);
				margin-bottom: 50px;
			}

			&:nth-child(1) {
				img {
					margin-bottom: 40px;
				}

				p {
					color: $text-color;
					margin-bottom: 65px;
				}

				a {
					color: black;
					box-shadow: none;
					&:hover {
						box-shadow: none;
						color: white;
					}
				}
			}

			&:nth-child(2) {
				h3 {
					text-align: left;
					color: #a2a2a2;
					margin-bottom: 50px;
					font-weight: lighter;
					font-size: 30px;
				}

				ul {
					padding-left: 60px;

					li {
						margin-bottom: 20px;
						a {
							color: $text-color;
							font-size: 15px;
							@include transition-1;
							&:hover {
								color: $yellow-color;
								text-decoration: underline;
							}
						}

					}
				}
			}

			&:nth-child(3) {
				h3 {
					text-align: left;
					color: #a2a2a2;
					margin-bottom: 50px;
					font-weight: lighter;
					font-size: 30px;
				}

				ul {
					padding-left: 40px;
					li {
						margin-bottom: 20px;
						a {
							color: $text-color;
							font-size: 15px;
							@include transition-1;
							&:hover {
								color: $yellow-color;
								text-decoration: underline;
							}
						}
					}
				}

				.mailto {
					padding-left: 40px;
					color: $text-color;
					text-decoration: underline;
					@include transition-1;
					display: inline-block;
					margin-top: 20px;
					&:hover {
						color: $yellow-color;
						text-decoration: underline;
					}

					@media(max-width: 767px) {
						padding-left: 0;
					}
				}

				.social-icons {
					ul {
						margin-top: 10px;
						li {
							display: inline-block;
							a {
								margin-right: 10px;
								img {
									width: 35px;
									height: 35px;
								}
							}
						}
					}
				}

				@media(max-width: 767px) {
					margin-bottom: 0;
				}
			}
		}
	}

	.footer-lower {
		border-top: 1px solid #474747;
		text-align: center;
		padding: 25px;
		p {
			color: #474747;
			font-size: 13px;
		}
	}
}
